body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

video {
  position: relative;
}

.handle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  object-fit: cover;
  z-index: 0;
}

.centered-text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 20px 0;
  color: #ddd;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
}

.span1 {
  opacity: 0;
  display: inline-block;
  animation: textAnimation1 1s linear forwards;
  color: cyan;
  font-family: STXingkai;
}

.span1:nth-child(1) {
  animation-delay: 0.2s;
}

.span1:nth-child(2) {
  animation-delay: 0.4s;
}

.span1:nth-child(3) {
  animation-delay: 0.6s;
}

.span1:nth-child(4) {
  animation-delay: 0.8s;
}

.span1:nth-child(5) {
  animation-delay: 1s;
}

.span1:nth-child(6) {
  animation-delay: 1.2s;
  margin-left: 50px;
}

.span1:nth-child(7) {
  animation-delay: 1.6s;
}

.span1:nth-child(8) {
  animation-delay: 1.8s;
}

.span1:nth-child(9) {
  animation-delay: 2s;
}

.span1:nth-child(10) {
  animation-delay: 2.2s;
}

@keyframes textAnimation1 {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 450px;
}

.state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state img {
  --s: 280px;
  /* image size */
  --b: 5px;
  /* border thickness */
  --c: #c02942;
  /* border color */
  --f: 1;
  /* initial scale */

  width: var(--s);
  aspect-ratio: 1;
  padding-top: calc(var(--s) / 5);
  cursor: pointer;
  border-radius: 0 0 calc(var(--s) / 2) calc(var(--s) / 2);
  outline: var(--b) solid var(--c);
  outline-offset: calc((1 / var(--f) - 1) * var(--s) / 2 - var(--b));
  background: radial-gradient(circle closest-side, #ecd078 calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000) 50% / calc(100% / var(--f)) 100% no-repeat content-box;
  -webkit-mask: linear-gradient(#000 0 0) no-repeat 50% calc(-1 * ((1 / var(--f) - 1) * var(--s) / 2 - var(--b))) / calc(100% / var(--f) - 2 * var(--b)) 50%, radial-gradient(circle closest-side, #000 99%, #0000) 50% / calc(100% / var(--f)) 100% no-repeat content-box;
  transform: scale(var(--f));
  transition: 0.5s;
}

.state img:hover {
  --f: 1.3;
  /* hover scale */
}

.description {
  color: #ddd;
  font-size: 18px;
  text-align: center;
  margin-top: 10px; /* 调整文字与图片之间的距离 */
}

.animated-content {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.animated-content span {
  width: 4px;
  height: 20%;
  border-radius: 8px;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  animation: loading 2.5s infinite linear;
  margin-left: 4px;
}

.animated-content .span0 { animation-delay: 0s; }
.animated-content .span1 { animation-delay: 0.2s; }
.animated-content .span2 { animation-delay: 0.4s; }
.animated-content .span3 { animation-delay: 0.6s; }
.animated-content .span4 { animation-delay: 0.8s; }
.animated-content .span5 { animation-delay: 1s; }
.animated-content .span6 { animation-delay: 1.2s; }
.animated-content .span7 { animation-delay: 1.4s; }
.animated-content .span8 { animation-delay: 1.6s; }
.animated-content .span9 { animation-delay: 1.8s; }
.animated-content .span10 { animation-delay: 2s; }
.animated-content .span11 { animation-delay: 2.2s; }
.animated-content .span12 { animation-delay: 2.4s; }
.animated-content .span13 { animation-delay: 2.6s; }
.animated-content .span14 { animation-delay: 2.8s; }

@keyframes loading {
  0% {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    height: 20%;
    border-radius: 8px;
  }

  50% {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    height: 100%;
    border-radius: 40px;
  }

  100% {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 20%;
    border-radius: 8px;
  }
}
